html,body,#app
  font-family: 'Source Sans Pro', sans-serif
  font-family: 'Space Grotesk', sans-serif

.text-1
  font-size: 40px

.text-2
  font-size: 28px

.text-3
  font-size: 22px

.text-4
  font-size: 16px
