html,body,#app
  font-family: 'Source Sans Pro', sans-serif
  height: 100%
  width: 100%
  margin: 0

p
  margin: 0

a
  text-decoration: none
  color: $purple


ul
  list-style: none
  padding-inline-start: 0

ol
  padding-inline-start: 0

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
  -webkit-appearance: none
  margin: 0

input[type=number]
  -moz-appearance: textfield

.text-h1
  font-size: 40px

.text-h2
  font-size: 28px

.text-h3
  font-size: 22px
  font-weight: 400
  

.text-h4
  font-size: 16px

// Form
$text-error: 13px

// Button

$addCartButton: 22px
$cart: 18px
$modalButton: 13px


$modalTitle: 20px


