// Colors

$white: #FFF 
$black: #000
$purple:#8D36B8
$grey: #8E8E8E
$inputGrey: #909090
$backgroundGrey: #CFCFCF
$darkGrey: #6A6A6A
$form-error: #FF5369

// Buttons

$backgroundDisabled:#8d36b86b
$backgroundGreyDisabled :#cfcfcf73
