// Colors

$white: #FFF 
$black: #000
$purple:#8D36B8
$red: #F2585E
$lightPurple: #D794F6
$grey: #8E8E8E
$inputGrey: #909090
$backgroundGrey: #CFCFCF
$darkGrey: #535353
$form-error: #FF5369
$layerBack: #000000a6
$footer: #BBBBBB
$footerText: #666666

// Buttons

$backgroundDisabled:#8d36b86b
$backgroundGreyDisabled :#cfcfcf73


// MediaQueries

$small: 340px
$medium: 480px
$tablet: 768px
$tablet-medium: 992px
$desktop: 1118px
$container: 1440px


// Header
$topnav: 106px
